@model PLCore.DTOs.SkyRoom.ResultViewModel
@{
    ViewData["Title"] = "Result";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">@Model.Title</h1>
<h2 class="text-xs-center alert alert-success">@Model.Description</h2>
