@model PLDataLayer.Entities.Blog.NewsGroup

@{
    ViewData["Title"] = "ویرایش گروه خبر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">
    ویرایش گروه خبر
    <a asp-action="Index" class="float-xs-left btn btn-warning">بازگشت</a>
</h1>
<hr />
<div class="row">
    <div class="colxs12 offset-md-4 col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsGroup_Id" />
            <div class="form-group">
                <label asp-for="NewsGroup_Title" class="control-label"></label>
                <input asp-for="NewsGroup_Title" class="form-control" />
                <span asp-validation-for="NewsGroup_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsgGroup_Comment" class="control-label"></label>
                <input asp-for="NewsgGroup_Comment" class="form-control" />
                <span asp-validation-for="NewsgGroup_Comment" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-primary col-xs-12" />
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="~/LayoutRef/js/jquery.validate.js"></script>
    <script src="~/LayoutRef/js/jquery.validate.unobtrusive.js"></script>
    <script>

    </script>
}

