@model PLDataLayer.Entities.Training.CourseGroup

@{
    ViewData["Title"] = "حذف گروه";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="alert alert-danger text-xs-center">حــذف @ViewBag.type</h1>

<h3>آیا مطمئن به حذف هستید؟</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseGroup_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseGroup_Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseGroup_Id" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index">انصراف</a>
    </form>
</div>
