@model PLCore.DTOs.PUser.SendMessageViewModel

@if (Model.IsSuccess == false)
{
    <div class="row">
        <div class="col-xs-12" id="CrMessage">
            <form asp-action="SendMessage" asp-controller="Home"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#CrMessage">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="IsSuccess" type="hidden" />
                <div class="form-group col-xs-12 col-md-6">
                    <label asp-for="CM_FullName" class="control-label"></label>
                    <input asp-for="CM_FullName" class="form-control" />
                    <span asp-validation-for="CM_FullName" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <label asp-for="CM_Subject" class="control-label"></label>
                    <input asp-for="CM_Subject" class="form-control" />
                    <span asp-validation-for="CM_Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CM_Email" class="control-label"></label>
                    <input type="text" asp-for="CM_Email" class="form-control" />
                    <span asp-validation-for="CM_Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CM_Message" class="control-label"></label>
                    <textarea asp-for="CM_Message" rows="7" maxlength="1000"  class="form-control"></textarea>
                    <span asp-validation-for="CM_Message" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="ارسال" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h3 class="text-xs-center alert alert-success">پیام شما با موفقیت ثبت شد</h3>
    <a href="/Home/SendMessage" class="btn btn-primary col-xs-12 col-md-offset-4 col-md-4" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CrMessage" data-ajax-method="Get">ارسال پــیام</a>
}


<script src="~/LayoutRef/js/jquery.validate.js"></script>
<script src="~/LayoutRef/js/jquery.validate.unobtrusive.js"></script>
