
@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string key = ViewData["key"].ToString();
    string cId = null;
    if (ViewData["cid"] != null)
    {
        cId = ViewData["cid"].ToString();
    }
}
<style>

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
        margin: 5px auto;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
        right: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
        margin: 0 auto;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<script>
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
</script>
@section PageDescription{
    <meta name="description" content="ثبت نام در مرکز آموزش صنعت بیمه ">
}
@section Search{
    <partial name="_Search" />
}
@section Header{
    <partial name="_Header" />
}

<h1 class="alert alert-info text-xs-center hidden-sm hidden-xs">ثبت نام در مرکز آموزش صنعت بیمه  </h1>
<h4 class="alert alert-info text-xs-center hidden-md hidden-lg">ثبت نام در مرکز آموزش صنعت بیمه </h4>
<div class="container m-t-3 m-b-3">
    <div class="row">
        <div class="stepwizard col-xs-12 col-md-12 m-b-10">
            <div class="stepwizard-row col-xs-offset-0 col-md-offset-3 setup-panel">
                <div class="stepwizard-step col-xs-4 col-md-4">
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle" id="st1">1</a>
                    <p>احراز هویت</p>
                </div>
                <div class="stepwizard-step col-xs-4 col-md-4">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled" id="st2">2</a>
                    <p>اعتبار سنجی</p>
                </div>
                <div class="stepwizard-step col-xs-4 col-md-4">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled" id="st3">3</a>
                    <p>ثبت نام</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row setup-content" id="step-1">
        <div id="step1" class="col-xs-12 col-md-offset-3 col-md-6 m-b-5 p-b-50 p-t-20">

            @{
                PLCore.DTOs.Account.InitialRegisterViewModel initialRegisterViewModel = new PLCore.DTOs.Account.InitialRegisterViewModel()
                {
                    Key = key,
                    CId = cId
                };

            }
            <partial name="InitialRegister" model="initialRegisterViewModel" />
        </div>
    </div>

</div>
@section Footer{
    <partial name="_Footer" />
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#state").change(function () {
                var sid = $(this).val();
                $.ajax({
                    url: "/Account/GetCounties",
                    data: { stateId: sid },
                    type: "GET",
                    success: function (result) {
                        $("#county").html(result);
                    }
                });
            });
        });
    </script>
}