@model PLCore.DTOs.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">تغییر رمز عبور</h1>

@if (Model.IsSuccess == false)
{
    <hr />
    <div class="row">
        <div class="offset-md-4 col-md-4 col-xs-12">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassowrd" class="control-label"></label>
                    <input asp-for="NewPassowrd" class="form-control" />
                    <span asp-validation-for="NewPassowrd" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="اعمال" class="btn btn-primary col-xs-12" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h2 class="text-xs-center alert alert-success mt-3">رمز ورود شما با موفقیت تغییر یافت</h2>
}



