<section class="porftolio-area ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 wow fadeInUp">
                <div class="section-title text-center">
                    <h2>آرشیو مطالب</h2>
                    <p class="fs-18 text-justify">
                        مرکز آموزش صنعت بیمه دسترسی شما به مطالب آموزشی متنوعی به صورت فیلم، صوت، تصویر و مقالات
                        را فراهم نموده است
                    </p>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-xs-12">
                <div class="portfolio-menu text-center">
                    <button class="active" data-filter="*">همه</button>
                    <button data-filter=".website">ویدئو</button>
                    <button data-filter=".responsiv">صوت</button>
                    <button data-filter=".minimal">تصویر</button>
                    <button data-filter=".clean">فایل</button>
                </div>
            </div>
        </div>
        <div class="row grid">
            <div class="col-md-4 portfolio clean col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="/images/portfolio/1.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>تصميم المواقع</h3>
                        <p>وقد عانت الأغلبية من تغيير في شكل ماوقد عانت الأغلبية من تغيير في شكل ما</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="/images/portfolio/1.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio website col-sm-6 col-xs-12 col  wow fadeInUp" data-wow-delay=".2s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="/images/portfolio/2.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>تطوير الشبكة</h3>
                        <p>وقد عانت الأغلبية من تغيير في شكل ماوقد عانت الأغلبية من تغيير في شكل ما</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="/images/portfolio/2.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio minimal col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="/images/portfolio/3.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>أوكس / تصميم واجهة المستخدم</h3>
                        <p>وقد عانت الأغلبية من تغيير في شكل ماوقد عانت الأغلبية من تغيير في شكل ما</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="/images/portfolio/3.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio website col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="/images/portfolio/4.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>تصميم الواجهة الأمامية</h3>
                        <p>وقد عانت الأغلبية من تغيير في شكل ماوقد عانت الأغلبية من تغيير في شكل ما</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="/images/portfolio/4.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio  responsiv col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="/images/portfolio/5.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>عودة نهاية التنمية</h3>
                        <p>وقد عانت الأغلبية من تغيير في شكل ماوقد عانت الأغلبية من تغيير في شكل ما</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="/images/portfolio/6.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 portfolio minimal col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".6s">
                <div class="portfolio-wrap">
                    <div class="overlay">
                        <a class="popup" href="/images/portfolio/6.jpg">
                            <i class="fa fa-link"></i>
                        </a>
                        <h3>محل تصوير</h3>
                        <p>وقد عانت الأغلبية من تغيير في شكل ماوقد عانت الأغلبية من تغيير في شكل ما</p>
                    </div>
                    <div class="portfolio-img">
                        <img src="/images/portfolio/6.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>