 <!-- preloder-wrap -->
<div id="cssLoader3" class="preloder-wrap">
    <div class="loader">
        <div class="child-common child4"></div>
        <div class="child-common child3"></div>
        <div class="child-common child2"></div>
        <div class="child-common child1"></div>
    </div>
</div>
<!-- preloder-wrap -->
<!-- search-area -->
<div class="search-area">
    <span class="closs-btn">بستن</span>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-offset-0 col-xs-12">
                <div class="search-form">
                    <form action="/Home/Search" method="post">
                        <input type="text" autocomplete="off" name="srch" data-val="true" placeholder="جستجو در سایت" required oninvalid="this.setCustomValidity('متن جستجو را وارد کنید')"
                                   oninput="this.setCustomValidity('')">
                        <button type="submit" name="button" class="btn-style">تایید</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>