<footer class="footer footer-static footer-light navbar-border">
    <p class="clearfix text-muted text-sm-center mb-0 px-2">
        <span class="float-md-left d-xs-block d-md-inline-block">تمامی حقوق برای هاب صنعت بیمه محفوظ است  &copy; 1398 
       @* <a href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank" class="text-bold-800 grey darken-2">PIXINVENT </a>, All rights reserved.*@ </span>
        <span class="float-md-right d-xs-block d-md-inline-block"><i class="icon-heart5 pink"></i>&ensp; آرامش شما، هدف ما</span>
    </p>
</footer>