<!DOCTYPE html>
<html lang="en" data-textdirection="rtl" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>@ViewData["Title"]</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/AdminRef/app-assets/images/ico/apple-icon-60.png">

    <link rel="apple-touch-icon" sizes="76x76" href="~/AdminRef/app-assets/images/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/AdminRef/app-assets/images/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/AdminRef/app-assets/images/ico/apple-icon-152.png">
    @*<link rel="shortcut icon" type="image/x-icon" href="~/AdminRef/app-assets/images/ico/favicon.ico">
        <link rel="shortcut icon" type="image/png" href="~/AdminRef/app-assets/images/ico/favicon-32.png">*@
    <link rel="shortcut icon" type="image/png" href="~/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <partial name="_AdminCss" />

</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <!-- navbar-fixed-top-->
    <partial name="_AdminHeader" />
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- main menu-->
    <partial name="_AdminMenu" />
    <!-- / main menu-->
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body" id="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <partial name="_AdminFooter" />
    <partial name="_AdminJs" />
    @RenderSection("Scripts", false)
</body>
</html>
<div id="Progress" style="display:none; position:fixed; top:45%;left:45%;z-index:100000">
    <span class="fa fa-cog fa-5x fa-spin text-danger"></span>
</div>
<!-- Modal -->
<div class="modal fade" id="AdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="AdminModalDialog">
        <div class="modal-content" id="AdminModalContent">
            <div class="modal-header" id="AdminModalHeader">
                <h5 class="modal-title" id="AdminModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="AdminModalbody">
                ...
            </div>
            <div class="modal-footer" id="AdminModalFooter">
                <button type="button" class="close btn btn-secondary " data-dismiss="modal">بستن</button>

            </div>
        </div>
    </div>
</div>
